/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  .container {
    width: 90%;
    display: flex;
    margin: auto;
  }
  .page12 {
    width: 48%;
    border: 2px solid red;
    height: 700px;
    display: inline-block;
    margin-top: 30px;
    background-color: gainsboro;
    color: black;
    border-radius: 10px;
  }
  .main2 {
    margin-left: 20px;
  }
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  td {
    text-align: left;
  }
  table {
    width: 70%;
    margin-left: 15%;
    margin-top: 70px;
    font-size: 16px;
  }
  .atd {
    width: 55%;
  }
  .ctd {
    width: 50px;
  }
  .input {
    height: 35px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    margin: 5px 0;
  }
  #dob {
    margin-top: 18px;
  }
  .input:focus {
    border: 2px solid grey;
  }

  .etd {
    width: 70%;
    height: 30px;
    margin-left: 15%;
    cursor: pointer;
    border-radius: 6px;
    font-size: 10px;
    background-color: rgb(52, 8, 245);
    border: none;
    outline: none;
    color: white;
  }
  .rtd {
    border-radius: 6px;
    font-size: 10px;
    background-color: rgb(237, 16, 16);
    border: none;
    outline: none;
    color: white;
  }

  .htd {
    height: 60px;
    margin-bottom: 5px;
  }
  .g,
  .s {
    margin-left: 5px;
    margin-right: 3px;
  }
  .btd {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .s1 {
    background-color: rgb(160, 164, 168);
    width: 80%;
    margin-left: 10%;
    /* border-radius: 10px; */
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  }
  p {
    margin-bottom: 3px;
  }
  input {
    text-align: center;
  }

  @media (max-width: 1350px) {
    .input {
      width: 250px;
    }
  }
  @media (max-width: 1200px) {
    .input {
      width: 200px;
    }
    h1 {
      font-size: 25px;
    }
    span {
      font-size: 13px;
    }
  }
  @media (max-width: 1000px) {
    .input {
      width: 170px;
    }
    h1 {
      font-size: 22px;
    }
    span {
      font-size: 13px;
    }
    .tdd {
      font-size: 13px;
    }
    .etd {
      width: 70px;
    }
    p{
font-size:15px;
}
  }

  @media (max-width: 760px){
    .input {
      width: 140px;
    }
    h1 {
      font-size: 20px;
    }
    span {
      font-size: 13px;
    }
    .tdd {
      font-size: 13px;
    }
    .etd {
      width: 70px;
    }
      p{
font-size:13px;

  }
}

  @media (max-width: 660px) {
    .input {
      width: 110px;
      height: 20px;
    }
    h1 {
      font-size: 16px;
    }
    span {
      font-size: 12px;
    }
    .tdd {
      font-size: 12px;
    }
    .etd {
      width: 70px;
    }
    p{
     font-size:11px;
   }
  }
  @media (max-width: 560px) {
    .input {
      width: 90px;
      height: 17px;
    }
    h1 {
      font-size: 16px;
    }
    span {
      font-size: 10px;
    }
    .tdd {
      font-size: 10px;
    }
    .etd {
      width: 70px;
    }
    #dob {
      width: 100px;
      height: 18px;
      font-size: 10px;
    }
    p{
font-size:10px;
}
  }